1_Simpson_integral/*.o
1_Simpson_integral/*.x
1_Simpson_integral/*.dat

2_RK_second_order/*.o
2_RK_second_order/*.dat
2_RK_second_order/*.x

3_PDE_solver/*.o
3_PDE_solver/*.x
3_PDE_solver/*.dat
3_PDE_solver/nr.cpp
3_PDE_solver/results_expl/*.dat
3_PDE_solver/results_impl/*.dat